.game {
  width: 70rem;
  border: var(--border);
  border-radius: var(--border-radius);

  .game-board {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    color: #70757a;

    .game-mode {
      .mode {
        font-family: inherit;
        font-weight: bold;
        color: inherit;
        border: 0;
        font-size: 1.6rem;

        &:focus {
          outline: none;
        }
      }
    }

    .game-score {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .player-card {
        width: 20rem;
        display: flex;
        justify-content: space-between;
        padding: 0.7rem 3rem;
        border: var(--border);
        border-radius: var(--border-radius);
        box-shadow: 0 2px 2.5px rgb(0 0 0 / 8%);
        font-weight: bold;
        font-size: 1.8rem;
        transition: box-shadow 300ms ease-in-out;

        &.active {
          animation: edge 300ms ease-in-out forwards;

          @keyframes edge {
            to {
              box-shadow: 0 4px 5px rgb(0 0 0 / 16%),
                0 -2px var(--game-bg) inset;
            }
          }
        }

        .player-name {
          color: black;
        }
      }
    }
  }

  .game-status {
    margin: auto;
    font-size: 1.3rem;
    color: #70757a;

    animation: fade 300ms ease-in-out;

    @keyframes fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    span {
      color: black;
      font-weight: bold;
    }
  }

  .game-container {
    cursor: default;
    display: grid;
    place-content: center;
    padding: 3rem;
    background-color: var(--game-bg);

    .square-container {
      width: 21rem;
      height: 21rem;
      display: grid;
      grid-template-columns: repeat(3, 7rem);
      grid-template-rows: repeat(3, 7rem);
      overflow: hidden;

      .square-box {
        display: grid;
        place-content: center;
        outline: 3.5px solid transparent;
        font-size: 5rem;
        font-weight: bold;

        animation: blend 300ms ease-in-out forwards;

        @keyframes blend {
          from {
            outline-color: var(--game-bg);
          }
          to {
            outline-color: var(--square-border);
          }
        }

        .square {
          opacity: 0;
          transition: all 300ms ease-in-out;
          transition-property: opacity, background-color;

          &.active {
            opacity: 1;
          }
        }

        &.active {
          .square {
            text-align: center;
            width: 6rem;
            height: 6rem;
            background-color: lightcoral;
            border-radius: 1rem;
            z-index: 5;
          }
        }
      }
    }

    .game-over {
      width: 21rem;
      height: 21rem;
      display: grid;
      place-content: center;
      text-align: center;

      animation: fade 300ms ease-in-out forwards;

      @keyframes fade {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .game-winner {
        font-size: 15rem;
        margin: -2rem;
      }

      .game-text {
        font-size: 4rem;
        color: #545454;
      }
    }
  }

  .restart-game {
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    font-weight: bold;
    color: #14bdac;
    transition: 200ms ease-out;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);

    &:hover {
      background-color: lightgreen;
      color: white;
    }
  }
}
